.badge {
    font-size: torem(14);
    font-family: $F1-Medium;
    // border-radius: torem(16);
    width: fit-content;

    &.badge {
        // sizes
        &-sm {
            padding: torem(2) torem(8);
            font-size: torem(12);
            line-height: 18px;
        }

        &-sm-2 {
            padding: torem(4) torem(8);
        }

        &-md {
            padding: torem(2) torem(10);
            font-size: torem(14);
            line-height: 20px; 
        }

        &-lg {
            padding: torem(4) torem(12);
            font-size: torem(14);
            line-height: 20px;
        }

        // colors and background
        &-gray-100 {
            background-color: $erp-gray-100;
            color: $erp-gray-700;
        }

        &-iron-100 {
            background-color: $gray-iron-100;
            color: $gray-iron-800;
        }

        &-primary-50 {
            background-color: $primary-50;
            color: $primary-700;
        }

        &-error-50 {
            background-color: $error-50;
            color: $error-700;
        }

        &-warning-50 {
            background-color: $warning-50;
            color: $warning-700;
        }

        &-success-50 {
            background-color: $success-50;
            color: $success-700;
        }

        &-number {
            padding: 0 torem(6);
            border-radius: torem(4);
        }
    }

    // WITH ICON
    &.icon {
        // ICON START
        &-start {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: torem(6);
            
            i {
                font-size: torem(8);
                width: torem(8);
                height: torem(8);
            }
        }

        // ICON END
        &-end {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: torem(4);

            i {
                font-size: torem(12);
                width: torem(12);
                height: torem(12);
            }
        }
    }

    // DYNAMIC ICON SIZE
    @include dynamic-icon-size('icon');
}
